:root {
    --table-border: 1px solid #000;
    --darkgrey: dimgrey;
    --mediumgrey: darkgrey;
    --grey: grey;
    --lightgrey: lightgrey;
}

/*
body {
    margin: 0 0.25em;
}
*/
.disabled {
    color: var(--mediumgrey);
}
table.classic {
    border: var(--table-border);
    border-top-color: var(--lightgrey);
    border-left-color: var(--mediumgrey);
    border-right-color: var(--grey);
    border-bottom-color: var(--darkgrey);
    border-spacing: 2px;
    border-width: 3px;
}
table.classic th, table.classic td {
    border: var(--table-border);
    border-top-color: var(--grey);
    border-left-color: var(--grey);
    border-right-color: var(--mediumgrey);
    border-bottom-color: var(--lightgrey);
    padding: 0.25em;
}
table.classic tr.spacer {
    display: block;
    padding: 0.05em;
}
table.classic tbody th {
    font-weight: normal;
}

table.directory thead th {
    text-align: center;
}
table.directory tbody td, table.directory tbody th {
    font-weight: normal;
    text-align: left;
    padding-right: 10px;
}
table.directory tbody td:first-child {
    padding-right: 0;
}